// A cover block is a full size cover with a fixed background for smaller screens.

@include box-height-modifiers(".cover");

.cover-logo {
    margin-right: 0.5em;
}

.cover {
    color: $white;
    position: relative;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-image: $cover-gradient;
    background: {
        repeat: no-repeat;
        position: 50% 0;
        size: cover;
    };

    & > .byline {
        position: absolute;
        bottom: 2px;
        right: 4px;
    }

    h1 {
        font-size: $display1-size;
    }
}