// Common min-height modifiers used for boxes.


@include box-height-modifiers(".box");

// Styling for section boxes
.box {
  .row.section {
       padding-left: 5rem;
       padding-right: 5rem;
       flex-direction: column;
   }

  .row {
       padding-left: 5rem;
       padding-right: 5rem;
       flex-direction: row;
  }
}
// Styling for community page link boxes

.box.linkbox {
   padding: 5rem;
}
