// Common min-height modifiers used for boxes.
@mixin box-height-modifiers($parent) {
    #{$parent} {
        &-h-min {
            min-height: 300px;
        }

        &-h-med {
            min-height: 400px;
        }

        &-h-max {
            min-height: 500px;
        }

        &-h-full {
            min-height: 100vh;
        }

        @include media-breakpoint-up(md) {
            &-h-min {
                min-height: 450px;
            }

            &-h-med {
                min-height: 500px;
            }

            &-h-max {
                min-height: 650px;
            }
        }
    }
}

@include box-height-modifiers(".box");

// Styling for section boxes
.box {
  .row.section {
       padding-left: 5rem;
       padding-right: 5rem;
       flex-direction: column;
   }

  .row {
       padding-left: 5rem;
       padding-right: 5rem;
       flex-direction: row;
  }
}
// Styling for community page link boxes

.box.linkbox {
   padding: 5rem;
}
