code {
	min-width: 100%;
	max-width: 100%;
}
code.noClass {
	color: orange;
}
pre {
	display: grid;
	padding: 1rem;
	overflow-x: auto;
}
.highlight {
	display: grid;
	margin: 1.25rem 0;
	box-shadow: 0 0 2.5rem rgba(0, 0, 0, 0.12);
	border-radius: 4px;
	overflow: hidden;
	table {
		margin: 0;
		border-collapse: collapse;
		background-color: $background-color;
	}
	.highlight {
		margin: 0;
	}
}
.lntd {
	&:first-child {
		width: 2.75rem;
		background-color: $primary-color;
		color: $text-color-dark;
		pre {
			padding: 0;
		}
		code {
			display: flex;
			flex-flow: column;
			align-items: center;
		}
	}
	&:last-child {
		padding-left: 0;
	}
}
.err {
	color: #a61717;
	background-color: #e3d2d2;
}
.hl {
	display: block;
	width: 100%;
	background-color: #ffffcc;
}
.ln {
	margin-right: 0.4rem;
	padding: 0 0.4em 0 0.4rem;
	color: #666;
}
.k {
	color: #6ab825;
	font-weight: 500;
}
.kc {
	color: #6ab825;
	font-weight: 500;
}
.kd {
	color: #6ab825;
	font-weight: 500;
}
.kn {
	color: #6ab825;
	font-weight: 500;
	font-weight: 400;
}
.kp {
	color: #6ab825;
	font-weight: 500;
	font-weight: 400;
}
.kr {
	color: #6ab825;
	font-weight: 500;
}
.kt {
	color: #6ab825;
	font-weight: 500;
}
.nt {
	color: #6ab825;
	font-weight: 500;
}
.nb {
	color: #24909d;
}
.no {
	color: #24909d;
}
.nv {
	color: #24909d;
}
.nc {
	color: #447fcf;
}
.nf {
	color: #447fcf;
}
.nn {
	color: #447fcf;
}
.s {
	color: #ed9d13;
	color: #ed9d13;
}
.sa {
	color: #ed9d13;
}
.sb {
	color: #ed9d13;
}
.sc {
	color: #ed9d13;
}
.dl {
	color: #ed9d13;
}
.sd {
	color: #ed9d13;
}
.s2 {
	color: #ed9d13;
}
.se {
	color: #ed9d13;
}
.sh {
	color: #ed9d13;
}
.si {
	color: #ed9d13;
}
.sx {
	color: #ed9d13;
}
.sr {
	color: #ed9d13;
}
.s1 {
	color: #ed9d13;
}
.m {
	color: #3677a9;
}
.mb {
	color: #3677a9;
}
.mf {
	color: #3677a9;
}
.mh {
	color: #3677a9;
}
.mi {
	color: #3677a9;
}
.il {
	color: #3677a9;
}
.mo {
	color: #3677a9;
}
.ow {
	color: #6ab825;
	font-weight: 500;
}
.c {
	color: #999;
	font-style: italic;
}
.ch {
	color: #999;
	font-style: italic;
}
.cm {
	color: #999;
	font-style: italic;
}
.c1 {
	color: #999;
	font-style: italic;
}
.cs {
	color: #e50808;
	background-color: #520000;
	font-weight: 500;
}
.cp {
	color: #cd2828;
	font-weight: 500;
}
.cpf {
	color: #cd2828;
	font-weight: 500;
}
.gd {
	color: #d22323;
}
.gr {
	color: #d22323;
}
.ge {
	font-style: italic;
}
.gh {
	color: #ffa500;
	font-weight: 500;
}
.gu {
	color: #ffa500;
	font-weight: 500;
}
.nd {
	color: #ffa500;
	font-weight: 500;
}
.na {
	color: #ffa500;
	font-weight: 500;
}
.ne {
	color: #ffa500;
	font-weight: 500;
}
.gi {
	color: #589819;
}
.go {
	color: #ccc;
}
.gp {
	color: #aaa;
}
.gs {
	font-weight: 500;
}
.gt {
	color: #d22323;
}
.w {
	color: #666;
}
