$primary-color: #074276;
$text-color: #333333;
$text-color-dark: #f8f8ff;
$background-color: #f8f8ff;

$base-font-size: 62.5%;

@font-face {
    font-family: system;
    font-style: normal;
    font-weight: 300;
    src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}
